@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
$colors: (
  primary: #3c88d4,
  primary-hover: #387fc5,
  secondary: #142a40,
  secondary-hover: #0d1b29,
  tertiary: #cbdbfc,
  off-white: #f2f2f2,
);

$padding: 1em;
$wbutpad: 0.2em;
$hbutpad: 1em;
$radius: 1.1em;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100vh;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: color(off-white);
}

header {
  background-color: #fff;
  padding: 1em 0;
  @include desktop {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    font-weight: 700;
  }
  .nav {
    ul {
      @include desktop {
        display: flex;
        padding: 0;
      }
      li {
        @include desktop {
          padding: 0 $padding;
          width: 5em;
        }
        a {
          text-decoration: none;
          color: inherit;
          font-weight: 500;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
  .nav-button {
    font-weight: 700;
    @include desktop {
    }
  }
}

.empty {
  color: color(primary);
  border-style: solid;
  border-radius: $radius;
  padding: $wbutpad $hbutpad;
  &:hover {
    color: #fff;
    background-color: color(primary);
    border-color: color(primary);
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.2s;
  }
}
li {
  list-style: none;
}
img {
  width: 100%;
}
