@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
$colors: (
  primary: #3c88d4,
  primary-hover: #387fc5,
  primary-accent: #3675b4,
  secondary: #142a40,
  secondary-hover: #0d1b29,
  tertiary: #cbdbfc,
  off-white: #f2f2f2,
);

$padding: 1em;
$wbutpad: 0.2em;
$hbutpad: 1em;
$radius: 1.1em;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;
$youtube: 1240px;

@mixin youtube {
  @media (max-width: #{$youtube}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100vh;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: color(off-white);
  scroll-behavior: smooth;
  transition: ease-in-out 0.2s;
}

header {
  background-color: #fff;
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include desktop {
    scroll-behavior: smooth;
    transition: ease-in-out 0.2s;
    width: 100%;
    margin: auto;
  }
  .logo {
    font-weight: 700;
  }
  .nav {
    ul {
      @include desktop {
        display: flex;
        padding: 0;
      }
      li {
        @include desktop {
          padding: 0 $padding;
          width: 5em;
        }
        a {
          text-decoration: none;
          color: inherit;
          font-weight: 500;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
  .nav-button {
    font-weight: 700;
    @include desktop {
    }
  }
}

section.hero {
  display: flex;
  width: 22em;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4em auto;
  @include desktop {
    width: 41.5em;
    margin: 12em auto;
  }
  h1 {
    color: color(primary);
    font-size: 1.8em;
    line-height: 1.3em;
    margin: 0;
    text-transform: uppercase;
    @include desktop {
      font-size: 3em;
      line-height: 1.1em;
      letter-spacing: 0.1em;
    }
  }
  p {
    color: color(primary);
    font-size: 0.8em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin: 0.3em 0;
    @include desktop {
      font-size: 1.2em;
    }
  }
  .hero-button {
    @include desktop {
      margin: 0.7em 0 0;
      padding: 0.4em 1.2em;
    }
  }
}
.ellipse {
  display: none;
  @include desktop {
    display: block;
    height: 95px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 50% 50% 50% 50%;
    margin: 0 auto -3em;
    position: relative;
  }
}

section.about {
  background-color: color(primary);
  .inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 33em;
    width: 80%;
    @include desktop {
      max-width: 60.5em;
      padding: 5.5em 0;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 0.9em;
      line-height: 1.5em;
      @include desktop {
        letter-spacing: 0.03em;
        font-size: 1.1em;
      }
    }
    .about-button {
      background-color: color(secondary);
      margin: 1.5em 0 0;
      padding: 0.3em 1em;
      &:hover {
        background-color: color(secondary-hover);
      }
    }
  }
  section.cards {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    @include desktop {
      flex-direction: row;
      max-width: 78.5em;
      width: 90%;
    }
    .card {
      border-radius: 0.7em;
      background-color: color(secondary);
      padding: 1em;
      width: 22em;
      height: 27.5em;
      margin: 2em 0em 0em;
      &:last-child {
        margin-bottom: -25em;
      }
      @include desktop {
        width: 22em;
        height: 27.5em;
        margin: 0 0.8em -12em;
        &:last-child {
          margin-bottom: -12em;
        }
      }
      i {
        color: color(primary);
        margin: 0.5em 0em;
        font-size: 2.5em;
      }

      h3 {
        color: #fff;
        margin: 0em 0 0;
      }
      h4 {
        margin: 1em 0 0.2em;
        color: color(primary);
        font-weight: 600;
      }
      p {
        color: #fff;
        margin: 0;
        @include desktop {
          line-height: 1.6em;
        }
      }
    }
  }
}

section.my-work {
  text-align: center;
  margin: 28em 0 0;
  @include desktop {
    margin: 15em 0 0;
  }
  h1 {
    color: color(primary);
    margin: 0;
    @include desktop {
      font-size: 4em;
    }
  }
  h3 {
    color: color(secondary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    @include desktop {
      font-size: 1.7em;
      margin: -0.5em 0 1.5em;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop {
      align-items: flex-end;
      flex-direction: row;
    }
    .left {
      @include desktop {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        width: 400px;
        margin-top: 1em;
        @include desktop {
          margin-top: 0em;
          width: 100%;
          max-width: 1084px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include desktop {
          justify-content: center;
        }
        .button {
          @include desktop {
            margin: 0 0.5em;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto -5em;
      width: 35%;
      @include desktop {
        margin: 0 auto;
      }
      ul {
        font-weight: 500;
        line-height: 2em;
        margin: 3em 0 1em;
        @include desktop {
          margin: 0 0 10em;
        }
      }
    }
  }
}

section.project-tools {
  background-color: color(secondary);
  position: relative;
  border-radius: 0.7em;
  margin: 9em auto -2.5em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
  @include desktop {
    max-width: 48em;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      margin: 0.5em;
      width: 3.5em;
      height: 3em;
      @include desktop {
        width: 6em;
        height: 5.5em;
      }
      i {
        color: color(primary);
        font-size: 3em;
        @include desktop {
          font-size: 5.5em;
        }
      }
    }
  }
}

section.YouTube {
  background-color: color(primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
  .right-iframe-container {
    margin: 0em auto -5em;
    position: relative;
    width: 20em;
    height: 11.7em;
    @include desktop {
      height: 25em;
      // padding-bottom: 32%;
      width: 42.5em;
      margin: 5rem 0 -5rem 5rem;
    }
    @include youtube {
      height: 17.6em;
      width: 30em;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .left {
    text-align: center;
    margin: 5em auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    @include desktop {
      margin: 7em 2em 5em 7em;
    }
    p {
      color: color(secondary);
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: 0.2em;
      @include desktop {
        font-size: 1.2em;
      }
    }
    h2 {
      color: #fff;
      margin: 0;
      font-size: 2em;
      @include desktop {
        font-size: 2.5em;
        width: 10em;
      }
    }
    .button {
      margin: 1em 0 0;
      padding: $wbutpad $hbutpad;
      @include desktop {
        font-size: 1.3em;
      }
    }
  }
}

section#contact {
  background-color: color(secondary);
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 0 3em;
    text-align: center;
    h3 {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 1.4em;
      @include desktop {
        font-size: 2em;
      }
    }
    p.subtext {
      color: #fff;
      font-size: 0.9em;
      @include desktop {
        font-size: 1.2em;
      }
    }
    .form {
      color: color(primary);
      text-align: left;
      width: 20em;
      @include desktop {
        width: 40em;
        padding: 1.5em 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .name {
        @include desktop {
          width: 47%;
          min-height: 4em;
          padding: 0 0 1em;
        }
      }
      .email {
        @include desktop {
          width: 47%;
          min-height: 4em;
          padding: 0 0 1em;
        }
      }
      .message {
        min-height: 6em;
        @include desktop {
          width: 100%;
          min-height: 12em;
        }
      }
      input {
        background-color: color(secondary);
        border: 0.5px solid color(primary);
        width: 100%;
        border-radius: 0.2em;
        color: #fff;
        @include desktop {
          padding: 0.3em 0.3em 0.3em 0.5em;
        }
        &.input-message {
          padding: 0.3em 0.3em 6em 0.5em;
          @include desktop {
            padding: 0.3em 0.3em 10em 0.5em;
          }
        }
        &:hover {
          border: 3px solid color(primary);
        }
        &:focus-visible {
          outline: none;
          border: 3px solid color(primary);
        }
      }
    }
    .contact-button {
      padding: $wbutpad/1.5 $hbutpad/1.5;
      margin: 1em 0 0;
      font-size: 1em;
      font-weight: 700;
      @include desktop {
        text-align: center;
        font-size: 1.4em;
        margin: 1em 0 0;
      }
    }
  }
  .suggestions {
    background-color: color(primary-accent);
    position: relative;
    border-radius: 0.7em;
    max-width: 30em;
    margin: 1em auto -3.5em;
    padding: 0.5em 0.2em;
    width: 90%;
    @include desktop {
      max-width: 52em;
    }
    .inner2 {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 1.2em 1.2em;
      @include desktop {
        flex-direction: row;
        padding: 2em 2em;
      }
      .left {
        font-weight: 500;
        font-size: 1.4em;
        padding-bottom: 0.2em;
        @include desktop {
          padding-bottom: 0em;
          font-size: 1.5em;
        }
      }
      .right {
        font-size: 0.9em;
        @include desktop {
          font-size: 1em;
        }
      }
    }
  }
}
footer {
  background-color: color(primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include desktop {
  }
  .inner {
    margin: 5em auto 1em;
    @include desktop {
      margin: 6em auto 1em;
    }
  }
  p {
    color: #fff;
    @include desktop {
      font-size: 1.3em;
      &.tagline {
        width: 25em;
      }
    }
  }
  .social {
    ul {
      padding: 2em 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include desktop {
        justify-content: space-evenly;
      }
      li {
        border: 2px color(tertiary) solid;
        border-radius: 2em;
        width: 1.8em;
        height: 1.8em;
        position: relative;
        @include desktop {
          width: 2em;
          height: 2em;
        }
      }
      i {
        color: #fff;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }
  .credits {
    color: color(tertiary);
    font-size: 1em;
    @include desktop {
      font-size: 1em;
    }
  }
}

//MY WORK LANDING PAGE START

section.my-work-landing {
  background-color: color(primary);
  text-align: center;
  margin: 0;
  padding: 3em 0 0;
  @include desktop {
  }
  h1 {
    color: white;
    margin: 0;
    font-size: 2.5em;
    @include desktop {
      font-size: 4em;
    }
  }
  h3 {
    color: color(secondary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    @include desktop {
      font-size: 1.7em;
      margin: -0.5em 0 1.5em;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 10em;
    @include desktop {
      align-items: flex-end;
      flex-direction: row;
    }
    .left {
      @include desktop {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .empty.dark {
          background-color: color(primary);
          color: color(secondary);
          border-color: color(secondary);
          &:hover {
            background-color: color(secondary);
            color: white;
          }
        }
      }
      img {
        width: 400px;
        margin-top: 1em;
        @include desktop {
          margin-top: 0em;
          width: 100%;
          max-width: 1084px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include desktop {
          justify-content: center;
        }
        .button {
          margin: 1.5em 0em 0em;
          @include desktop {
            margin: 2em 0em 1em;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto -5em;
      width: 35%;
      @include desktop {
        margin: 0 auto;
      }
      ul {
        color: white;
        font-weight: 400;
        line-height: 1.7em;
        margin: 3em 0 1em;
        @include desktop {
          font-weight: 500;
          margin: 0 0 10em;
        }
      }
      .button {
        margin: 0.5em 0em 0em;
        @include desktop {
          margin: 2em 0em 1em;
        }
      }
      .empty.dark {
        background-color: color(primary);
        color: color(secondary);
        border-color: color(secondary);
        &:hover {
          background-color: color(secondary);
          color: white;
        }
      }
    }
  }
}

section.ptools-work-landing {
  background-color: color(secondary);
  position: relative;
  border-radius: 0.7em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
  margin: -2.5em auto 0em;
  @include desktop {
    margin: -4em auto 0em;
    max-width: 48em;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      margin: 0.5em;
      width: 3.5em;
      height: 3em;
      @include desktop {
        width: 6em;
        height: 5.5em;
      }
      i {
        color: color(primary);
        font-size: 3em;
        @include desktop {
          font-size: 5.5em;
        }
      }
    }
  }
}

//MY WORK LANDING PAGE END

//MISCELLANEOUS STYLES

.filled {
  background-color: color(primary);
  color: #fff;
  border-radius: $radius;
  padding: $wbutpad $hbutpad;
  font-weight: 600;
  font-size: 1em;
  @include desktop {
    font-size: 1.2em;
  }
  &:hover {
    background-color: color(primary-hover);
    transition: 0.2s;
  }
}
.empty {
  color: color(primary);
  border-style: solid;
  border-radius: $radius;
  padding: $wbutpad $hbutpad;
  font-weight: 600;
  font-size: 1em;
  @include desktop {
    font-size: 1.2em;
  }
  &:hover {
    color: #fff;
    background-color: color(primary);
    transition: 0.2s;
    border-color: color(primary);
  }
}

.dark {
  background-color: color(secondary);
  &:hover {
    background-color: color(secondary-hover);
    transition: 0.2s;
  }
}
footer {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.2s;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img,
i {
  width: 100%;
}

input {
  &:focus-visible {
    text-decoration: none;
  }
}
