@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
$colors: (
  primary: #3c88d4,
  primary-hover: #387fc5,
  secondary: #142a40,
  secondary-hover: #0d1b29,
  tertiary: #cbdbfc,
  off-white: #f2f2f2,
);

$padding: 1em;
$wbutpad: 0.2em;
$hbutpad: 1em;
$radius: 1.1em;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100vh;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: color(off-white);
}

header {
  background-color: #fff;
  padding: 1em 0;
  @include desktop {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    font-weight: 700;
  }
  .nav {
    ul {
      @include desktop {
        display: flex;
        padding: 0;
      }
      li {
        @include desktop {
          padding: 0 $padding;
          width: 5em;
        }
        a {
          text-decoration: none;
          color: inherit;
          font-weight: 500;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
  .nav-button {
    font-weight: 700;
    @include desktop {
    }
  }
}

section.hero {
  @include desktop {
    display: flex;
    width: 41.5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12em auto;
  }
  h1 {
    color: color(primary);
    @include desktop {
      font-size: 3em;
      margin: 0;
      text-transform: uppercase;
      line-height: 1.1em;
      letter-spacing: 0.1em;
    }
  }
  p {
    color: color(primary);
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0.3em 0;
  }
  .hero-button {
    margin: 0.7em 0 0;
    padding: 0.4em 1.2em;
  }
}

section.about {
  background-color: color(primary);
  .inner {
    @include desktop {
      display: flex;
      width: 60.5em;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: auto;
      padding: 5.5em 0;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      @include desktop {
        line-height: 1.5em;
        letter-spacing: 0.03em;
        font-size: 1.1em;
      }
    }
    .about-button {
      background-color: color(secondary);
      margin: 1.5em 0 0;
      padding: 0.3em 1em;
      &:hover {
        background-color: color(secondary-hover);
      }
    }
  }
  section.cards {
    @include desktop {
      display: flex;
      width: 78.5em;
      flex-direction: row;
      align-items: center;
      text-align: center;
      margin: auto;
      padding: 0;
      justify-content: space-around;
      align-items: flex-start;
    }
    .card {
      border-radius: 0.7em;
      background-color: color(secondary);
      padding: 1em;
      @include desktop {
        width: 22em;
        height: 27.5em;
        margin: 0 0.8em -12em;
      }
      img {
        color: color(primary);
        margin: 0.5em 0 0em;
        width: 3em;
      }

      h3 {
        color: #fff;
        margin: 0em 0 0;
      }
      h4 {
        color: color(primary);
        margin: 1em 0 0.2em;
        font-weight: 600;
      }
      p {
        color: #fff;
        @include desktop {
          margin: 0;
          line-height: 1.6em;
        }
      }
    }
  }
}

section.my-work {
  @include desktop {
    text-align: center;
    margin: 15em 0 0;
  }
  h1 {
    color: color(primary);
    margin: 0;
    @include desktop {
      font-size: 4em;
    }
  }
  h3 {
    color: color(secondary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    @include desktop {
      font-size: 1.7em;
      margin: -0.5em 0 1.5em;
    }
  }
  .inner {
    @include desktop {
      display: flex;
      align-items: flex-end;
      .left {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 1084px;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .button {
            margin: 0 0.5em;
          }
        }
      }
      .right {
        display: flex;
        width: 35%;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        ul {
          margin: 0 0 6em;
          font-weight: 500;
          font-size: 1.2em;
          line-height: 2em;
        }
      }
    }
  }
}

section.project-tools {
  background-color: color(secondary);
  @include desktop {
    position: relative;
    border-radius: 0.7em;
    width: 48em;
    margin: 9em auto -2.5em;
    padding: 0.5em 0.2em;
  }
  ul {
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        margin: 0.5em;
        img {
          width: 5.5em;
        }
      }
    }
  }
}

section.YouTube {
  background-color: color(primary);
  @include desktop {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .left {
    margin: 0 0 -5em;
  }
  .right {
    text-align: center;
    @include desktop {
      margin: 8em -6em 8em 11em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      color: color(secondary);
      font-weight: 500;
      font-size: 1.2em;
      letter-spacing: 0.2em;
    }
    h2 {
      color: #fff;
      margin: 0;
      font-size: 2.5em;
      width: 10em;
    }
    .button {
      margin: 1em 0 0;
      font-size: 1.3em;
      padding: $wbutpad $hbutpad;
    }
  }
}

section.contact {
  background-color: color(secondary);
  .inner {
    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8em 0 3em;
    }
    h3 {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 2em;
    }
    p.subtext {
      color: #fff;
      font-size: 1.2em;
    }
    .form {
      color: color(primary);
      input {
        background-color: color(secondary);
        border: 0.5px solid color(primary);
        &:focus-visible {
          border: 3px solid color(primary);
        }
      }
    }
    .contact-button {
      text-align: center;
      font-size: 1.4em;
      font-weight: 700;
      padding: $wbutpad $hbutpad;
      margin: 1em 0 0;
    }
  }
}

.filled {
  background-color: color(primary);
  color: #fff;
  border-radius: $radius;
  padding: $wbutpad $hbutpad;
  font-weight: 600;
  font-size: 1.2em;
  &:hover {
    background-color: color(primary-hover);
  }
}
.empty {
  color: color(primary);
  border-style: solid;
  border-radius: $radius;
  padding: $wbutpad $hbutpad;
  font-weight: 600;
  &:hover {
    color: #fff;
    background-color: color(primary);
    border-color: color(primary);
  }
}

.dark {
  background-color: color(secondary);
  &:hover {
    background-color: color(secondary-hover);
  }
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.2s;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
