@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.scroll-down header {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  -webkit-transform: none;
          transform: none;
}

body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-transition: scroll-behavior 5s ease 1s;
  transition: scroll-behavior 5s ease 1s;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

::-moz-selection {
  background: #2c70b4;
}

::selection {
  background: #2c70b4;
}

::-moz-selection {
  background: #2c70b4;
}

header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 840px) {
  header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1em 0;
    width: 100%;
    margin: auto;
  }
}

header .logo {
  font-weight: 700;
}

header .nav {
  display: none;
}

@media (min-width: 840px) {
  header .nav {
    display: block;
  }
}

@media (min-width: 840px) {
  header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

@media (min-width: 840px) {
  header .nav ul li {
    padding: 0 1em;
    width: 5em;
  }
}

header .nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

header .nav ul li a:hover {
  opacity: 1;
}

header .nav-button {
  display: none;
}

@media (min-width: 840px) {
  header .nav-button {
    display: block;
    margin: 0.5em 0;
    font-weight: 700;
  }
}

@media (min-width: 840px) {
  header .mobile-menu {
    display: none;
  }
}

header .mobile-menu i {
  font-size: 3.5em;
  color: #3c88d4;
}

header .mobile-menu i:hover {
  cursor: pointer;
}

#hamburger {
  display: none;
  inset: 0;
  position: fixed;
  z-index: 1;
  background-color: #202020f0;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 5em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 840px) {
  #hamburger {
    display: none;
  }
}

#hamburger .mobile-nav-menu {
  margin: -6em 0 0;
}

#hamburger .mobile-nav-menu ul li {
  opacity: 1 !important;
  font-size: 2em;
  color: #3c88d4;
  font-weight: 500;
}

#hamburger .mobile-nav-button {
  margin-top: 1em;
  font-size: 1.5em;
}

.reveal-ham {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 840px) {
  .reveal-ham {
    display: none !important;
  }
}

section.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 4em auto;
  padding: 3em 0 0;
}

@media (min-width: 840px) {
  section.hero {
    width: 41.5em;
    margin: 12em auto;
  }
}

section.hero h1 {
  color: #3c88d4;
  font-size: 1.8em;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  section.hero h1 {
    font-size: 3em;
    line-height: 1.1em;
    letter-spacing: 0.1em;
  }
}

section.hero p {
  color: #3c88d4;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 0.3em 0;
}

@media (min-width: 840px) {
  section.hero p {
    font-size: 1.2em;
  }
}

section.hero .hero-button {
  padding: 0.4em 1.2em;
  margin: 1em 0 0;
}

.ellipse {
  display: none;
}

@media (min-width: 840px) {
  .ellipse {
    display: block;
    height: 95px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 50% 50% 50% 50%;
    margin: 0 auto -3em;
    position: relative;
  }
}

section.about {
  background-color: #3c88d4;
}

section.about.about-landing {
  padding-top: 5em;
}

@media (min-width: 840px) {
  section.about.about-landing {
    padding-top: 4em;
  }
}

section.about .inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 33em;
  width: 80%;
}

@media (min-width: 840px) {
  section.about .inner {
    max-width: 60.5em;
    padding: 5.5em 0;
  }
}

section.about .inner h2 {
  color: #fff;
}

section.about .inner p {
  color: #fff;
  font-size: 0.9em;
  line-height: 1.5em;
}

@media (min-width: 840px) {
  section.about .inner p {
    letter-spacing: 0.03em;
    font-size: 1.1em;
  }
}

section.about .inner .about-button {
  margin: 1.5em 0;
  background-color: #142a40;
  padding: 0.3em 1em;
}

section.about .inner .about-button .about-button-subtext {
  font-size: 0.65em;
}

section.about .inner .about-button:hover {
  background-color: #071625;
}

section.about section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

@media (min-width: 840px) {
  section.about section.cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 78.5em;
    width: 90%;
  }
}

section.about section.cards .card {
  border-radius: 0.7em;
  background-color: #142a40;
  padding: 1em;
  width: 22em;
  height: 27.5em;
  margin: 2em 0em 0em;
}

section.about section.cards .card:last-child {
  margin-bottom: -25em;
}

@media (min-width: 840px) {
  section.about section.cards .card {
    width: 22em;
    height: 27.5em;
    margin: 0 0.8em -12em;
  }
  section.about section.cards .card:last-child {
    margin-bottom: -12em;
  }
}

section.about section.cards .card i {
  color: #3c88d4;
  margin: 0.5em 0em;
  font-size: 2.5em;
}

section.about section.cards .card h3 {
  color: #fff;
  margin: 0em 0 0;
}

section.about section.cards .card h4 {
  margin: 1em 0 0.2em;
  color: #3c88d4;
  font-weight: 600;
}

section.about section.cards .card p {
  color: #fff;
  margin: 0;
}

@media (min-width: 840px) {
  section.about section.cards .card p {
    line-height: 1.6em;
  }
}

section.my-work {
  text-align: center;
  margin: 28em 0 0;
}

@media (min-width: 840px) {
  section.my-work {
    margin: 15em 0 0;
  }
}

section.my-work h1 {
  color: #3c88d4;
  margin: 0;
}

@media (min-width: 840px) {
  section.my-work h1 {
    font-size: 4em;
  }
}

section.my-work h3 {
  color: #142a40;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
}

@media (min-width: 840px) {
  section.my-work h3 {
    font-size: 1.7em;
    margin: -0.5em 0 1.5em;
  }
}

section.my-work .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  section.my-work .inner {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 840px) {
  section.my-work .inner .left {
    width: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.my-work .inner .left img {
  width: 400px;
  margin-top: 1em;
}

@media (min-width: 840px) {
  section.my-work .inner .left img {
    margin-top: 0em;
    width: 100%;
    max-width: 1084px;
  }
}

section.my-work .inner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 840px) {
  section.my-work .inner .left .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.my-work .inner .left .buttons .button {
    margin: 0 0.5em;
  }
}

section.my-work .inner .left .buttons .filled {
  padding: 0.3em 1em;
}

section.my-work .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto -5em;
  width: 60%;
}

@media (min-width: 840px) {
  section.my-work .inner .right {
    width: 35%;
    margin: 0 auto;
  }
}

section.my-work .inner .right ul {
  font-weight: 500;
  margin: 3em 0 1em;
  line-height: 1.5em;
}

@media (min-width: 840px) {
  section.my-work .inner .right ul {
    line-height: 2em;
    margin: 0 0 10em;
  }
}

section.project-tools {
  background-color: #142a40;
  position: relative;
  border-radius: 0.7em;
  margin: 9em auto -2.5em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
}

@media (min-width: 840px) {
  section.project-tools {
    max-width: 48em;
  }
}

section.project-tools ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.project-tools ul li {
  margin: 0.5em;
  width: 3.5em;
  height: 3em;
}

@media (min-width: 840px) {
  section.project-tools ul li {
    width: 6em;
    height: 5.5em;
  }
}

section.project-tools ul li i {
  color: #3c88d4;
  font-size: 3em;
}

@media (min-width: 840px) {
  section.project-tools ul li i {
    font-size: 5.5em;
  }
}

section.YouTube {
  background-color: #3c88d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  section.YouTube {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section.YouTube .left {
  text-align: center;
  margin: 5em auto 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22em;
}

@media (min-width: 840px) {
  section.YouTube .left {
    margin: 7em 2em 5em 7em;
  }
}

section.YouTube .left p {
  color: #142a40;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

@media (min-width: 840px) {
  section.YouTube .left p {
    font-size: 1.2em;
  }
}

section.YouTube .left h2 {
  color: #fff;
  margin: 0;
  font-size: 2em;
}

@media (min-width: 840px) {
  section.YouTube .left h2 {
    font-size: 2.5em;
    width: 10em;
  }
}

section.YouTube .left .button {
  margin: 1em 0 0;
  padding: 0.3em 1em;
}

@media (min-width: 840px) {
  section.YouTube .left .button {
    font-size: 1.3em;
  }
}

section.YouTube .right-iframe-container {
  margin: 0em auto -5em;
  position: relative;
  width: 20em;
  height: 11.7em;
}

@media (min-width: 840px) {
  section.YouTube .right-iframe-container {
    height: 25em;
    width: 42.5em;
    margin: 5rem 0 -5rem 5rem;
  }
}

@media (max-width: 1240px) {
  section.YouTube .right-iframe-container {
    height: 17.6em;
    width: 30em;
  }
}

section.YouTube .right-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form#contact {
  background-color: #142a40;
}

form#contact .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8em 0 3em;
  text-align: center;
}

form#contact .inner h3 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}

@media (min-width: 840px) {
  form#contact .inner h3 {
    font-size: 2em;
  }
}

form#contact .inner p.subtext {
  color: #fff;
  font-size: 0.9em;
}

@media (min-width: 840px) {
  form#contact .inner p.subtext {
    font-size: 1.2em;
  }
}

form#contact .inner .form {
  color: #3c88d4;
  text-align: left;
  width: 20em;
}

@media (min-width: 840px) {
  form#contact .inner .form {
    width: 40em;
    padding: 1.5em 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

form#contact .inner .form .name {
  min-height: 5.3em;
}

@media (min-width: 840px) {
  form#contact .inner .form .name {
    width: 47%;
    padding: 0 0 1em;
  }
}

form#contact .inner .form .email {
  min-height: 5.3em;
}

@media (min-width: 840px) {
  form#contact .inner .form .email {
    width: 47%;
    padding: 0 0 1em;
  }
}

form#contact .inner .form .message {
  min-height: 16em;
}

@media (min-width: 840px) {
  form#contact .inner .form .message {
    width: 100%;
  }
}

form#contact .inner .form input,
form#contact .inner .form textarea {
  background-color: #142a40;
  border: 0.5px solid #3c88d4;
  width: 100%;
  border-radius: 0.2em;
  color: #fff;
  font: 400 1.3em 'poppins';
  color: #3c88d4;
}

@media (min-width: 840px) {
  form#contact .inner .form input,
  form#contact .inner .form textarea {
    padding: 0.3em 0.3em 0.3em 0.5em;
  }
}

form#contact .inner .form input.input-message,
form#contact .inner .form textarea.input-message {
  padding: 0.3em 0.3em 6em 0.5em;
}

@media (min-width: 840px) {
  form#contact .inner .form input.input-message,
  form#contact .inner .form textarea.input-message {
    padding: 0.3em 0.3em 10em 0.5em;
  }
}

form#contact .inner .form input:hover,
form#contact .inner .form textarea:hover {
  border: 3px solid #3c88d4;
}

form#contact .inner .form input:focus-visible,
form#contact .inner .form textarea:focus-visible {
  outline: none;
  border: 3px solid #3c88d4;
}

form#contact .inner .form input {
  min-height: 2em;
}

form#contact .inner .form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10em;
  padding: 0.2em 0.5em 0em !important;
}

form#contact .inner .form ::-webkit-input-placeholder {
  color: #2c70b4;
}

form#contact .inner .form :-ms-input-placeholder {
  color: #2c70b4;
}

form#contact .inner .form ::-ms-input-placeholder {
  color: #2c70b4;
}

form#contact .inner .form ::placeholder {
  color: #2c70b4;
}

form#contact .inner .contact-button {
  margin: 1em 0 0;
  padding: 0.36em 0.66667em;
  font-size: 1em;
  font-weight: 700;
  background-color: #142a40;
  border-color: #3c88d4;
}

@media (min-width: 840px) {
  form#contact .inner .contact-button {
    text-align: center;
    font-size: 1.4em;
  }
}

form#contact .inner .contact-button:hover {
  background-color: #3c88d4;
}

form#contact .suggestions {
  background-color: #3675b4;
  position: relative;
  border-radius: 0.7em;
  max-width: 30em;
  margin: 1em auto -3.5em;
  padding: 0.5em 0.2em;
  width: 90%;
}

@media (min-width: 840px) {
  form#contact .suggestions {
    max-width: 52em;
  }
}

form#contact .suggestions .inner2 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1.2em 1.2em;
}

@media (min-width: 840px) {
  form#contact .suggestions .inner2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 2em;
  }
}

form#contact .suggestions .inner2 .left {
  font-weight: 500;
  font-size: 1.4em;
  padding-bottom: 0.2em;
}

@media (min-width: 840px) {
  form#contact .suggestions .inner2 .left {
    padding-bottom: 0em;
    font-size: 1.5em;
  }
}

form#contact .suggestions .inner2 .right {
  font-size: 0.9em;
}

@media (min-width: 840px) {
  form#contact .suggestions .inner2 .right {
    font-size: 1em;
  }
}

footer {
  background-color: #3c88d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .inner {
  margin: 5em auto 1em;
}

@media (min-width: 840px) {
  footer .inner {
    margin: 6em auto 1em;
  }
}

footer p {
  color: #fff;
}

@media (min-width: 840px) {
  footer p {
    font-size: 1.3em;
  }
  footer p.tagline {
    width: 25em;
  }
}

footer .social ul {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 840px) {
  footer .social ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

footer .social ul li {
  border-radius: 2em;
  width: 1.8em;
  height: 1.8em;
  position: relative;
}

@media (min-width: 840px) {
  footer .social ul li:hover {
    border-color: white;
  }
}

footer .social ul li i {
  border: 2px #cbdbfc solid;
  border-radius: 2em;
  padding: 0.5em 0.1em;
  color: #fff;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

footer .social ul li i:hover {
  color: #142a40;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-color: white;
}

footer .credits {
  color: #cbdbfc;
  font-size: 1em;
}

@media (min-width: 840px) {
  footer .credits {
    font-size: 1em;
  }
}

footer .credits a {
  -webkit-transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

footer .credits a:hover {
  color: white;
}

section.my-work-landing {
  background-color: #3c88d4;
  text-align: center;
  margin: 0;
  padding: 8em 0 0;
}

section.my-work-landing h1 {
  color: white;
  margin: 0;
  font-size: 2.5em;
}

@media (min-width: 840px) {
  section.my-work-landing h1 {
    font-size: 4em;
  }
}

section.my-work-landing h3 {
  color: #142a40;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
}

@media (min-width: 840px) {
  section.my-work-landing h3 {
    font-size: 1.7em;
    margin: -0.5em 0 1.5em;
  }
}

section.my-work-landing .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 10em;
}

@media (min-width: 840px) {
  section.my-work-landing .inner {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 840px) {
  section.my-work-landing .inner .left {
    width: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.my-work-landing .inner .left img {
  width: 400px;
  margin-top: 1em;
}

@media (min-width: 840px) {
  section.my-work-landing .inner .left img {
    margin-top: 0em;
    width: 100%;
    max-width: 1084px;
  }
}

section.my-work-landing .inner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5em 0em 0em;
}

@media (min-width: 840px) {
  section.my-work-landing .inner .left .buttons {
    margin: 2em 0em 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.my-work-landing .inner .left .buttons .filled {
  padding: 0.3em 1em;
}

section.my-work-landing .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto -5em;
  width: 60%;
}

@media (min-width: 840px) {
  section.my-work-landing .inner .right {
    width: 35%;
    margin: 0 auto;
  }
}

section.my-work-landing .inner .right ul {
  color: white;
  font-weight: 400;
  line-height: 1.5em;
  margin: 3em 0 1em;
}

@media (min-width: 840px) {
  section.my-work-landing .inner .right ul {
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 0 10em;
  }
}

section.my-work-landing .inner .right .button {
  padding: 0.3em 1em;
  margin: 0.5em 0em 0em;
}

@media (min-width: 840px) {
  section.my-work-landing .inner .right .button {
    margin: 2em 0em 1em;
  }
}

section.my-work-landing .inner .right .empty.dark {
  background-color: #3c88d4;
  color: #142a40;
  border-color: #142a40;
}

section.my-work-landing .inner .right .empty.dark:hover {
  background-color: #142a40;
  color: white;
}

section.ptools-work-landing {
  background-color: #142a40;
  position: relative;
  border-radius: 0.7em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
  margin: -2.5em auto 0em;
}

@media (min-width: 840px) {
  section.ptools-work-landing {
    margin: -4em auto 0em;
    max-width: 48em;
  }
}

section.ptools-work-landing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.ptools-work-landing ul li {
  margin: 0.5em;
  width: 3.5em;
  height: 3em;
}

@media (min-width: 840px) {
  section.ptools-work-landing ul li {
    width: 6em;
    height: 5.5em;
  }
}

section.ptools-work-landing ul li i {
  color: #3c88d4;
  font-size: 3em;
}

@media (min-width: 840px) {
  section.ptools-work-landing ul li i {
    font-size: 5.5em;
  }
}

section.recent-work {
  text-align: center;
  max-width: 95em;
  width: 90%;
  margin: 0 auto 5em;
}

section.recent-work h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #142a40;
}

section.recent-work .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.recent-work .cards .card {
  margin: 0em 1.2em 2.4em;
  min-height: 16em;
  min-width: 24em;
}

section.recent-work .cards .card .image {
  background-image: url(https://campusrevive.org/wp-content/uploads/2021/02/CYPRES-PHOTO.jpg?id=2261);
  display: block;
  position: absolute;
  max-width: 100%;
  inset: 0;
  background-size: cover;
  border-radius: 0.8em;
}

section.recent-work .cards .card .image:hover {
  opacity: 0;
}

section.recent-work .cards .card .card-inner {
  position: relative;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: inherit;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #142a40;
  border-radius: 0.8em;
  padding: 0 1em;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

section.recent-work .cards .card .card-inner:hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

section.recent-work .cards .card .card-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24em;
  margin: 0 auto 1.4em;
}

section.recent-work .cards .card .card-inner ul li {
  background-color: #3c88d4;
  padding: 0.3em 0.7em;
  border-radius: 0.2em;
  color: white;
  margin: 0.4em 0.4em;
  font-size: 1em;
  letter-spacing: 0.1em;
}

section.recent-work .cards .card .card-inner .buttons {
  max-width: 24em;
  margin-bottom: 1em;
}

section.recent-work .cards .card .card-inner .buttons .button {
  margin: 0 0.2em;
  font-size: 1.3em;
}

section.recent-work .cards .card .card-inner .buttons .button.filled {
  padding: 0.3em 1em;
}

section.recent-work .cards .card .card-inner .buttons .button.empty {
  color: white;
  border-color: #3c88d4;
}

section#contact .inner {
  padding-top: 5em;
}

.filled {
  background-color: #3c88d4;
  color: #fff;
  border-radius: 1.1em;
  padding: 0.2em 1em;
  font-weight: 600;
  font-size: 1em;
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media (min-width: 840px) {
  .filled {
    font-size: 1.2em;
  }
}

.filled:hover {
  background-color: #2c70b4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.empty {
  color: #3c88d4;
  border-style: solid;
  border-radius: 1.1em;
  padding: 0.2em 1em;
  font-weight: 600;
  font-size: 1em;
  -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media (min-width: 840px) {
  .empty {
    font-size: 1.2em;
  }
}

.empty:hover {
  color: #fff;
  background-color: #3c88d4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #3c88d4;
}

.dark {
  -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #142a40;
}

.dark:hover {
  background-color: #071625;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  margin: 0;
  padding: 0;
  z-index: 2;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

i {
  width: 100%;
  -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

input:focus-visible {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */