@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
$colors: (
  primary: #3c88d4,
  primary-hover: #2c70b4,
  primary-accent: #3675b4,
  secondary: #142a40,
  secondary-hover: #071625,
  tertiary: #cbdbfc,
  off-white: #f2f2f2,
);

$padding: 1em;
$ybutpad: 0.2em;
$xbutpad: 1em;
$radius: 1.1em;
$desktop: 840px;
$youtube: 1240px;
$youtube-mobile: 840px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin youtube {
  @media (max-width: #{$youtube}) {
    @content;
  }
}
@mixin youtube-mobile {
  @media (max-width: #{$youtube-mobile}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

::selection {
  background: color(primary-hover);
}
::-moz-selection {
  background: color(primary-hover);
}

body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  transition: scroll-behavior 5s ease 1s;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: color(off-white);
  overflow-y: scroll;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  transform: none;
}

header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.4s;
  @include desktop {
    justify-content: space-evenly;
    padding: 1em 0;
    width: 100%;
    margin: auto;
  }
  .logo {
    margin-left: 2em;
    font-weight: 700;
    @include desktop {
      margin: 0;
    }
  }
  .nav {
    display: none;
    @include desktop {
      display: block;
    }
    ul {
      @include desktop {
        display: flex;
        padding: 0;
      }
      li {
        @include desktop {
          padding: 0 $padding;
          width: 5em;
        }
        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          opacity: 0.8;
          transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .nav-button {
    display: none;
    @include desktop {
      display: block;
      margin: 0.5em 0;
      font-weight: 700;
    }
  }
  .mobile-menu {
    margin-right: 2em;
    @include desktop {
      margin: 0;
      display: none;
    }
    i {
      font-size: 2em;
      color: color(primary);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
#hamburger {
  display: none;
  inset: 0;
  position: fixed;
  z-index: 1;
  background-color: #202020f0;
  width: 100%;
  backdrop-filter: blur(4px);
  text-align: center;
  transition: 0.4s;
  padding: 5em 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include desktop {
    display: none;
  }
  .mobile-nav-menu {
    margin: -6em 0 0;
    ul {
      li {
        opacity: 1 !important;
        font-size: 2em;
        color: color(primary);
        font-weight: 400;
      }
    }
  }
  .mobile-nav-button {
    margin-top: 1em;
    font-size: 1.5em;
  }
}

section.hero {
  display: flex;
  width: 22em;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4em auto;
  padding: 3em 0 0;
  @include desktop {
    width: 41.5em;
    margin: 12em auto;
  }
  h1 {
    color: color(primary);
    font-size: 1.63em;
    line-height: 1.3em;
    margin: 0;
    text-transform: uppercase;
    @include desktop {
      font-size: 3em;
      line-height: 1.1em;
      letter-spacing: 0.1em;
    }
  }
  p {
    color: color(primary);
    font-size: 0.9em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin: 0.5em 1.3em 0.3em;
    @include desktop {
      font-size: 1.2em;
    }
  }
  .hero-button {
    padding: 0.4em 1.2em;
    margin: 1em 0 0;
  }
}
.ellipse {
  display: none;
  @include desktop {
    display: block;
    height: 95px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 50% 50% 50% 50%;
    margin: 0 auto -3em;
    position: relative;
  }
}

section.about {
  background-color: color(primary);
  &.about-landing {
    padding-top: 5em;
    @include desktop {
      padding-top: 4em;
    }
  }
  .inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 33em;
    width: 80%;
    padding-top: 2em;
    @include desktop {
      max-width: 60.5em;
      padding: 5.5em 0;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 0.9em;
      line-height: 1.5em;
      @include desktop {
        letter-spacing: 0.03em;
        font-size: 1.1em;
      }
      #plain-joe {
        text-decoration: underline;
        &:hover {
          color: #f37022;
        }
      }
    }
    .about-button {
      margin: 1.5em 0;
      background-color: color(secondary);
      padding: 0.3em 1em;
      .about-button-subtext {
        font-size: 0.65em;
      }
      &:hover {
        background-color: color(secondary-hover);
      }
    }
  }
  section.cards {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    @include desktop {
      flex-direction: row;
      max-width: 78.5em;
      width: 90%;
    }
    .card {
      border-radius: 0.7em;
      background-color: color(secondary);
      padding: 1em;
      width: 18em;
      height: 27.5em;
      margin: 2em 0em 0em;
      &:last-child {
        margin-bottom: -25em;
      }
      @include desktop {
        width: 22em;
      }
      @include desktop {
        width: 22em;
        height: 27.5em;
        margin: 0 0.8em -12em;
        &:last-child {
          margin-bottom: -12em;
        }
      }
      i {
        color: color(primary);
        font-size: 3em;
        margin: 0.2em 0em;
        @include desktop {
          font-size: 2.5em;
          margin: 0.5em 0em;
        }
      }

      h3 {
        color: #fff;
        font-size: 1.4em;
        margin: 0em 0 0;
        @include desktop {
          font-size: 1.2em;
        }
      }
      h4 {
        margin: 1em 0 0.2em;
        color: color(primary);
        font-size: 1.1em;
        font-weight: 600;
        @include desktop {
          font-size: 1em;
        }
      }
      p {
        color: #fff;
        margin: 0;
        @include desktop {
          line-height: 1.6em;
        }
      }
    }
  }
}

section.my-work {
  text-align: center;
  margin: 28em 0 0;
  @include desktop {
    margin: 15em 0 0;
  }
  h1 {
    color: color(primary);
    margin: 0;
    font-size: 2em;
    @include desktop {
      font-size: 4em;
    }
  }
  h3 {
    color: color(secondary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    font-size: 1.3em;
    @include desktop {
      font-size: 1.7em;
      margin: -0.5em 0 1.5em;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop {
      align-items: flex-end;
      flex-direction: row;
    }
    .left {
      @include desktop {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        width: 400px;
        margin-top: 1em;
        @include desktop {
          margin-top: 0em;
          width: 100%;
          max-width: 1084px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include desktop {
          justify-content: center;
          .button {
            margin: 0 0.5em;
          }
        }
        .filled {
          padding: 0.3em $xbutpad;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto -5em;
      width: 60%;
      @include desktop {
        width: 35%;
        margin: 0 auto;
      }
      ul {
        font-weight: 500;
        margin: 3em 0 1em;
        line-height: 1.5em;
        @include desktop {
          line-height: 2em;
          margin: 0 0 10em;
        }
      }
    }
  }
}

section.project-tools {
  background-color: color(secondary);
  position: relative;
  border-radius: 0.7em;
  margin: 9em auto -2.5em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
  @include desktop {
    max-width: 48em;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      margin: 0.5em;
      width: 3.5em;
      height: 3em;
      @include desktop {
        width: 6em;
        height: 5.5em;
      }
      i {
        color: color(primary);
        font-size: 3em;
        @include desktop {
          font-size: 5.5em;
        }
      }
    }
  }
}

section.YouTube {
  background-color: color(primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
  .left {
    text-align: center;
    margin: 5em auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    @include desktop {
      margin: 7em 2em 5em 7em;
    }
    p {
      color: color(secondary);
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: 0.2em;
      @include desktop {
        font-size: 1.2em;
      }
    }
    h2 {
      color: #fff;
      margin: 0;
      font-size: 2em;
      @include desktop {
        font-size: 2.5em;
        width: 10em;
      }
    }
    .button {
      margin: 1em 0 0;
      padding: 0.3em $xbutpad;
      @include desktop {
        font-size: 1.3em;
      }
    }
  }
  .right-iframe-container {
    margin: 0em auto -5em;
    position: relative;
    width: 20em;
    height: 11.7em;
    @include desktop {
      height: 25em;
      width: 42.5em;
      margin: 5rem 0 -5rem 5rem;
    }
    @include youtube {
      height: 17.6em;
      width: 30em;
    }
    @include youtube-mobile {
      height: 14em;
      width: 23em;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

form#contact {
  background-color: color(secondary);
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 0 3em;
    text-align: center;
    h3 {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 1.4em;
      @include desktop {
        font-size: 2em;
      }
    }
    p.subtext {
      color: #fff;
      font-size: 0.9em;
      @include desktop {
        font-size: 1.2em;
      }
    }
    .form {
      color: color(primary);
      text-align: left;
      width: 20em;
      @include desktop {
        width: 40em;
        padding: 1.5em 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .name {
        min-height: 5.3em;
        width: 105.25%;
        @include desktop {
          width: 47%;
          padding: 0 0 1em;
        }
      }
      .email {
        min-height: 5.3em;
        width: 105.25%;
        @include desktop {
          width: 47%;
          padding: 0 0 1em;
        }
      }
      .message {
        min-height: 16em;
        @include desktop {
          width: 100%;
        }
      }
      input,
      textarea {
        background-color: color(secondary);
        border: 0.5px solid color(primary);
        width: 100%;
        border-radius: 0.2em;
        color: #fff;
        font: 400 1.3em 'poppins';
        color: color(primary);
        @include desktop {
          padding: 0.3em 0.3em 0.3em 0.5em;
        }
        &.input-message {
          padding: 0.3em 0.3em 6em 0.5em;
          @include desktop {
            padding: 0.3em 0.3em 10em 0.5em;
          }
        }
        &:hover {
          border: 3px solid color(primary);
        }
        &:focus-visible {
          outline: none;
          border: 3px solid color(primary);
        }
      }
      input {
        min-height: 2em;
      }
      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 10em;
        padding: 0.2em 0.5em 0em !important;
      }
      ::placeholder {
        color: color(primary-hover);
      }
    }
    .contact-button {
      margin: 1em 0 0;
      padding: $ybutpad * 1.5 $xbutpad/1.1;
      font-size: 1em;
      font-weight: 700;
      background-color: color(secondary);
      border-color: color(primary);
      @include desktop {
        text-align: center;
        font-size: 1.4em;
      }
      &:hover {
        background-color: color(primary);
      }
    }
  }
  .suggestions {
    background-color: color(primary-accent);
    position: relative;
    border-radius: 0.7em;
    max-width: 30em;
    margin: 1em auto -3.5em;
    padding: 0.5em 0.2em;
    width: 90%;
    @include desktop {
      max-width: 52em;
    }
    .inner2 {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 1.2em 1.2em;
      @include desktop {
        flex-direction: row;
        padding: 2em 2em;
      }
      .left {
        font-weight: 500;
        font-size: 1.4em;
        padding-bottom: 0.2em;
        @include desktop {
          padding-bottom: 0em;
          font-size: 1.5em;
        }
      }
      .right {
        font-size: 0.9em;
        @include desktop {
          font-size: 1em;
        }
      }
    }
  }
}
footer {
  background-color: color(primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .inner {
    margin: 5em auto 1em;
    @include desktop {
      margin: 6em auto 1em;
    }
  }
  p {
    color: #fff;
    font-size: 1.1em;
    @include desktop {
      font-size: 1.3em;
      &.tagline {
        width: 25em;
      }
    }
  }
  .social {
    ul {
      padding: 2em 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include desktop {
        justify-content: space-evenly;
      }
      li {
        border-radius: 2em;
        width: 1.8em;
        height: 1.8em;
        position: relative;
        @include desktop {
          &:hover {
            border-color: white;
          }
        }
        i {
          border: 2px color(tertiary) solid;
          border-radius: 2em;
          padding: 0.5em 0.1em;
          color: #fff;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          &:hover {
            color: color(secondary);
            transition: 0.3s;
            background-color: white;
            border-color: white;
          }
        }
      }
    }
  }
  .credits {
    color: color(tertiary);
    font-size: 1em;
    a {
      transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
      &:hover {
        color: white;
      }
    }
  }
}

//ABOUT LANDING PAGE START
section.about-education {
  background-color: color(off-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    height: 23em;
  }
  .left {
    text-align: center;
    margin: 2em auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    padding-bottom: 2em;
    @include desktop {
      padding-bottom: 0em;
      width: 35em;
      margin: 2em 2em 2em 5em;
    }
    h3 {
      color: color(primary);
      margin: 0;
      font-size: 2em;
      @include desktop {
        font-size: 2.5em;
        width: 10em;
      }
    }
    p {
      font-size: 0.9em;
      color: color(secondary);
      font-weight: 400;
      letter-spacing: 0em;
      @include desktop {
        font-size: 1.1em;
      }
    }
  }
  .right {
    margin: 0em auto -2em;
    position: relative;
    width: 25em;
    height: 11.7em;
    @include desktop {
      width: 42.5em;
      margin: 0;
    }
  }
}

section.about-courses {
  background-color: color(primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    height: 27em;
  }
  .left {
    order: 2;
    margin: 0em auto 2em;
    position: relative;
    width: 28em;
    height: 11.7em;
    @include desktop {
      order: 2;
      width: 49em;
      margin: 0;
    }
    ul {
      background-color: color(primary-accent);
      border-radius: 0.9em;
      padding: 2em;
      li {
        margin-top: 0.5em;
        color: #fff;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0em;
        line-height: 1.5em;
        @include desktop {
          font-size: 1.1em;
          line-height: 2.5em;
        }
        span {
          &.complete {
            display: inline-block;
            height: 2em;
            width: 2em;
            background-color: #1fc75a;
            border-radius: 50% 50% 50% 50%;
            margin: 0 auto -0.5em;
            position: relative;
            i {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              width: 1em;
            }
          }
          &.incomplete {
            display: inline-block;
            height: 2em;
            width: 2em;
            background-color: rgb(228, 228, 86);
            border-radius: 50% 50% 50% 50%;
            margin: 0 auto -0.5em;
            position: relative;
            i {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 25%;
              left: 25%;
              width: 1em;
              animation: spin 2s linear infinite;
              @keyframes spin {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            color: #b55bf1;
          }
        }
      }
    }
  }
  .right {
    order: 1;
    text-align: center;
    margin: 5em auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    @include desktop {
      order: 1;
      width: 35em;
      margin: 0em 2em 2em 5em;
    }
    h3 {
      color: color(secondary);
      margin: 0;
      font-size: 2em;
      @include desktop {
        font-size: 2.5em;
        width: 10em;
      }
    }
    p {
      color: #fff;
      font-weight: 400;
      font-size: 0.9em;
      letter-spacing: 0em;
      @include desktop {
        font-size: 1.1em;
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #f00;
        }
      }
    }
  }
}

section.about-something {
  background-color: color(secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    height: 23em;
  }
  .left {
    order: 1;
    text-align: center;
    margin: 5em auto 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    @include desktop {
      order: 2;
      width: 35em;
      margin: 7em 2em 2em 5em;
    }
    h3 {
      color: color(primary);
      margin: 0;
      font-size: 2em;
      @include desktop {
        font-size: 2.5em;
        width: 10em;
      }
    }
    p {
      color: #fff;
      font-weight: 400;
      font-size: 0.9em;
      letter-spacing: 0em;
      @include desktop {
        font-size: 1.1em;
      }
    }
  }
  .right {
    order: 2;
    margin: 0em auto -2em;
    position: relative;
    width: 25em;
    height: 11.7em;
    @include desktop {
      order: 1;
      width: 42.5em;
      margin: 0;
    }
  }
}

.left-img-vertical {
  margin: auto !important;
}

.right-img-vertical {
  margin: auto auto 2em !important;
  @include desktop {
    margin: 0 auto 2em !important;
    width: 50%;
  }
  img.vertical {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    max-width: 18em;
  }
}

//ABOUT LANDING PAGE END

//MY WORK LANDING PAGE START

section.my-work-landing {
  background-color: color(primary);
  text-align: center;
  margin: 0;
  padding: 8em 0 0;
  h1 {
    color: white;
    margin: 0;
    font-size: 2.5em;
    @include desktop {
      font-size: 4em;
    }
  }
  h3 {
    color: color(secondary);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    @include desktop {
      font-size: 1.7em;
      margin: -0.5em 0 1.5em;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 10em;
    @include desktop {
      align-items: flex-end;
      flex-direction: row;
    }
    .left {
      @include desktop {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        width: 380px;
        margin-top: 1em;
        @include desktop {
          margin-top: 0em;
          width: 100%;
          max-width: 1084px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 1.5em 0em 0em;
        @include desktop {
          margin: 2em 0em 1em;
          justify-content: center;
        }
        .filled {
          padding: 0.3em $xbutpad;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto -5em;
      width: 60%;
      @include desktop {
        width: 35%;
        margin: 0 auto;
      }
      ul {
        color: white;
        font-weight: 400;
        line-height: 1.5em;
        margin: 3em 0 1em;
        @include desktop {
          line-height: 1.7em;
          font-weight: 500;
          margin: 0 0 10em;
        }
      }
      .button {
        padding: 0.3em $xbutpad;
        margin: 0.5em 0em 0em;
        @include desktop {
          margin: 2em 0em 1em;
        }
      }
      .empty.dark {
        background-color: color(primary);
        color: color(secondary);
        border-color: color(secondary);
        &:hover {
          background-color: color(secondary);
          color: white;
        }
      }
    }
  }
}

section.ptools-work-landing {
  background-color: color(secondary);
  position: relative;
  border-radius: 0.7em;
  padding: 0.5em 0.2em;
  max-width: 30em;
  width: 80%;
  margin: -2.5em auto 0em;
  @include desktop {
    margin: -4em auto 0em;
    max-width: 48em;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      margin: 0.5em;
      width: 3.5em;
      height: 3em;
      @include desktop {
        width: 6em;
        height: 5.5em;
      }
      i {
        color: color(primary);
        font-size: 3em;
        @include desktop {
          font-size: 5.5em;
        }
      }
    }
  }
}

section.recent-work {
  text-align: center;
  max-width: 95em;
  width: 90%;
  margin: 0 auto 5em;
  h3 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: color(secondary);
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      min-height: 14em;
      min-width: 21em;
      margin: 0em 1.2em 2.4em;
      @include desktop {
        min-height: 16em;
        min-width: 24em;
      }
      .image {
        background-image: url(https://campusrevive.org/wp-content/uploads/2021/02/CYPRES-PHOTO.jpg?id=2261);
        display: block;
        position: absolute;
        max-width: 100%;
        inset: 0;
        background-size: cover;
        border-radius: 0.8em;
        &:hover {
          opacity: 0;
        }
      }
      .card-inner {
        position: relative;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: inherit;
        backface-visibility: hidden;
        background-color: #142a40;
        border-radius: 0.8em;
        padding: 0 0em;
        transition: opacity 0.4s;
        @include desktop {
          padding: 0 1em;
        }
        &:hover {
          opacity: 1;
          transition: opacity 0.4s;
        }
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 auto 0em;
          width: 21em;
          @include desktop {
            width: 24em;
          }
          li {
            background-color: #3c88d4;
            padding: 0.3em 0.7em;
            border-radius: 0.2em;
            color: white;
            margin: 0.4em 0.4em;
            font-size: 1em;
            letter-spacing: 0.1em;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          max-width: 24em;
          margin-bottom: 0em;
          .button {
            margin: 0 0.2em;
            font-size: 1.3em;
            &.filled {
              @media (max-width: 466px) {
                margin-top: 0.5em;
              }
              padding: 0.3em $xbutpad;
            }
            &.empty {
              color: white;
              border-color: color(primary);
            }
          }
        }
      }
      .card-inner-learned {
        position: relative;
        display: none;
        opacity: 0;
        flex-direction: column;
        justify-content: space-around;
        min-height: inherit;
        backface-visibility: hidden;
        background-color: #142a40;
        border-radius: 0.8em;
        padding: 0 0em;
        transition: opacity 0.4s;
        @include desktop {
          padding: 0 1em;
        }
        &:hover {
          opacity: 1;
          transition: opacity 0.4s;
        }
        #close,
        #close-2,
        #close-3 {
          font-size: 2em;
          color: color(primary);
          width: 1em;
          cursor: pointer;
          align-self: flex-end;
          margin: 0.3em 0.3em -1em 0;
        }
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          width: 21em;
          margin: 0 auto 0.5em;
          max-height: 7.1em;
          @include desktop {
            width: 24em;
          }
          li {
            color: white;
            font-size: 1em;
            letter-spacing: 0.03em;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          max-width: 24em;
          margin-bottom: 0.7em;
          .button {
            margin: 0 0.2em;
            font-size: 1.3em;
            &.filled {
              padding: 0.3em $xbutpad;
              @media (max-width: 466px) {
                margin-top: 0.5em;
              }
            }
            &.empty {
              color: white;
              border-color: color(primary);
            }
          }
        }
      }
    }
  }
}

section#contact .inner {
  padding-top: 5em;
}

//MY WORK LANDING PAGE END

//MISCELLANEOUS STYLES

.filled {
  background-color: color(primary);
  color: #fff;
  border-radius: $radius;
  padding: $ybutpad $xbutpad;
  font-weight: 600;
  font-size: 1em;
  transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  @include desktop {
    font-size: 1.2em;
  }
  &:hover {
    background-color: color(primary-hover);
    transition: 0.3s;
  }
}
.empty {
  color: color(primary);
  border-style: solid;
  border-radius: $radius;
  padding: $ybutpad $xbutpad;
  font-weight: 600;
  font-size: 1em;
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  @include desktop {
    font-size: 1.2em;
  }
  &:hover {
    color: #fff;
    background-color: color(primary);
    transition: 0.3s;
    border-color: color(primary);
  }
}

.dark {
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: color(secondary);
  &:hover {
    background-color: color(secondary-hover);
    transition: 0.3s;
  }
}
footer {
  margin: 0;
  padding: 0;
  z-index: 2;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.2s;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
i {
  width: 100%;
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

input {
  &:focus-visible {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.reveal-ham {
  display: flex !important;
  @include desktop {
    display: none !important;
  }
}
